@font-face {
  font-display: swap;
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/staatliches.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-400.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-500.ttf') format('truetype');
}

body {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/bg-main@1x.jpg");
  font-family: "Staatliches", sans-serif;
  color: #000000;
}

.bg-telegram {
  background-position: top right;
  background-attachment: fixed;
  background-image: url("../img/bg-telegram@1x.jpg");
}

.gradient-text {
  background: -webkit-linear-gradient(#1E8AB5, #007AAB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient-button {
  background: radial-gradient(50% 50% at 50% 50%, #1E8AB5 0%, #007AAB 100%);
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.telegram-radial {
  background-image: radial-gradient(#1F6588, #279FDB);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../img/bg-main@2x.jpg");
  }

  .bg-telegram {
    background-image: url("../img/bg-telegram@2x.jpg");
  }
}

@media only screen and (max-width: 1024px) {
  body, .bg-telegram {
    background-image: url("../img/bg-mobile@1x.jpg");
    background-position: bottom center;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    body, .bg-telegram {
      background-image: url("../img/bg-mobile@2x.jpg");
      background-position: bottom center;
    }
  }
}
